{% include "header.html" %}
<title>Исполнители | music-quiz</title>
<link rel="stylesheet" type="text/css" href="/styles/audios.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/search.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/artists.css?v={{version}}">
</head>
<body>
    {% include "menu.html" %}
    <h1 class="top">Исполнители</h1>

    <div class="form-row search-field">
        <div class="form-row-icon form-row-icon-interactive clear {% if not query %}clear-hide{% endif %}" id="clear-icon" onclick="ClearQuery()" title="Очистить">
            <svg class="form-svg-fill-icon" width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" />
            </svg>
        </div>

        <div class="form-row-input">
            <input type="text" class="basic-input default-input" id="query" placeholder="Введите название исполнителя" value="{{query}}" oninput="QueryInput(event)" onkeydown="QueryKeyDown(event, SearchArtists)">
        </div>
        <div class="form-row-icon form-row-icon-interactive" onclick="SearchArtists()">
            <svg class="form-svg-stroke-icon" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 15L21 21M10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17Z" stroke-width="2" />
            </svg>
        </div>
    </div>

    <div class="table-block table-equal-block search-params">
        <div class="table-cell">
            <div class="basic-multi-select default-multi-select" id="genres">
                <div class="multi-select-title">Жанр</div>
                {% for genre in genres %}
                <div class="multi-select-row">
                    <label><input type="checkbox" id="genres-{{genre}}" {% if genre in search_genres %}checked{% endif %}> {{genre2rus[genre]}}</label>
                </div>
                {% endfor %}

                <div class="multi-select-row">
                    <label><input type="checkbox" id="genres-no" {% if "no" in search_genres %}checked{% endif %}> не указан</label>
                </div>
            </div>
        </div>

        <div class="table-cell">
            <div class="basic-multi-select default-multi-select" id="creation">
                <div class="multi-select-title">Творчество</div>
                <div class="multi-select-row">
                    <label><input type="checkbox" id="creation-russian" {% if "russian" in search_creation %}checked{% endif %}> русское</label>
                </div>
                <div class="multi-select-row">
                    <label><input type="checkbox" id="creation-foreign" {% if "foreign" in search_creation %}checked{% endif %}> зарубежное</label>
                </div>
                <div class="multi-select-row">
                    <label><input type="checkbox" id="creation-no" {% if "no" in search_creation %}checked{% endif %}> не указано</label>
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        Всего в базе {{total_artists}}{% if artists %}, {{query_artists}}{% endif %}
    </div>

    {% if query or search_genres or search_creation %}
    {% if artists %}
    <div class="content">
    {% for artist in artists %}
    <div class="form-row">
        <div class="table-block">
            <div class="table-cell">
                <div class="text">
                    <b><a href="/artists/{{artist.id}}">{{artist.name}}</a></b>:
                    {{artist2count[artist.id]["total"]}} {% if artist2count[artist.id]["with_lyrics"] %}({{artist2count[artist.id]["with_lyrics"]}} с текстом){% endif %}
                </div>

                {% if artist.creation %}
                <div class="text"><b>Творчество</b>:
                    {% for creation_type in artist.creation %}{% if loop.index > 1 %}, {% endif %}{{creation2rus[creation_type]}}{% endfor %}
                </div>
                {% endif %}

                {% if artist.genres %}
                <div class="text"><b>Жанры</b>:
                    {% for genre in artist.genres %}{% if loop.index > 1 %}, {% endif %}{{genre2rus[genre]}}{% endfor %}
                </div>
                {% endif %}
                <div class="error" id="error-{{artist.id}}"></div>
            </div>
            <div class="table-cell table-cell-no-width">
                <svg id="prefer-list-{{artist.id}}" class="artist-question-icon {% if artist.id in settings.prefer_list %}artist-question-selected-icon{% endif %}" onclick="SwitchList({{artist.id}}, 'prefer')" height="16px" width="16px" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18">
                    <path d="M20.808,11.079C19.829,16.132,12,20.5,12,20.5s-7.829-4.368-8.808-9.421C2.227,6.1,5.066,3.5,8,3.5a4.444,4.444,0,0,1,4,2,4.444,4.444,0,0,1,4-2C18.934,3.5,21.773,6.1,20.808,11.079Z"/>
                </svg>
            </div>
            <div class="table-cell table-cell-no-width">
                <svg id="ignore-list-{{artist.id}}" class="artist-question-icon {% if artist.id in settings.ignore_list %}artist-question-selected-icon{% endif %}" onclick="SwitchList({{artist.id}}, 'ignore')" height="17px" width="17px" xmlns="http://www.w3.org/2000/svg" viewBox="1 1 18 18">
                    <path fill-rule="evenodd" d="M5.781 4.414a7 7 0 019.62 10.039l-9.62-10.04zm-1.408 1.42a7 7 0 009.549 9.964L4.373 5.836zM10 1a9 9 0 100 18 9 9 0 000-18z"/>
                </svg>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <div class="text">К сожалению, по вашему запросу никого не нашлось</div>
    {% endif %}
    {% endif %}

    <script src="/js/utils.js?v={{version}}"></script>
    <script src="/js/search.js?v={{version}}"></script>
    <script src="/js/artists.js?v={{version}}"></script>
    {% include "footer.html" %}
</body>
</html>
