{% include "header.html" %}
<title>Исполнители | music-quiz</title>
<link rel="stylesheet" type="text/css" href="/styles/audios.css?v={{version}}">
</head>
<body>
    {% include "menu.html" %}
    <h1 class="top">Исполнители ({{artists|length}})</h1>

    <div class="content">
    {% for artist in artists %}
    <div class="form-row">
        <div class="text">
            <b><a href="/artists/{{artist.id}}">{{artist.name}}</a></b>: {{artist2count[artist.id]["total"]}}
            {% if artist2count[artist.id]["with_lyrics"] %}({{artist2count[artist.id]["with_lyrics"]}} с текстом){% endif %}
        </div>

        {% if artist.creation %}
        <div class="text"><b>Творчество</b>:
            {% for creation_type in artist.creation %}{% if loop.index > 1 %}, {% endif %}{{creation2rus[creation_type]}}{% endfor %}
        </div>
        {% endif %}

        {% if artist.genres %}
        <div class="text"><b>Жанры</b>:
            {% for genre in artist.genres %}{% if loop.index > 1 %}, {% endif %}{{genre2rus[genre]}}{% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    </div>

    {% include "footer.html" %}
</body>
</html>
