{% include "header.html" %}
<title>Добавлеине аудиозаписей | music-quiz</title>
<link rel="stylesheet" type="text/css" href="/styles/audios.css?v={{version}}">
</head>
<body>
    {% include "menu.html" %}

    <h1 class="top">Добавление аудиозаписей</h1>

    <div class="content">
        <div class="form-row">
            <div class="form-row-icon form-row-top-icon" id="code-icon">
                <svg class="form-svg-stroke-icon" width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="form-row-input">
                <textarea class="basic-textarea default-textarea" id="code" rows="7" placeholder="Вставьте html код или ссылку на страницу с аудио" oninput="ClearFormRowError('code')"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-row-icon form-row-top-icon" id="code-icon">
                <svg class="form-svg-fill-icon" width="22px" height="22px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M16,9V7l-2.259-0.753c-0.113-0.372-0.262-0.728-0.441-1.066l1.066-2.131L12.95,1.634L10.819,2.7 c-0.338-0.178-0.694-0.325-1.066-0.441L9,0H7L6.247,2.259C5.875,2.372,5.519,2.522,5.181,2.7L3.05,1.638L1.638,3.05l1.066,2.131 C2.522,5.519,2.375,5.875,2.259,6.247L0,7v2l2.259,0.753c0.112,0.372,0.263,0.728,0.441,1.066L1.634,12.95l1.416,1.416L5.181,13.3 c0.338,0.178,0.694,0.328,1.066,0.441L7,16h2l0.753-2.259c0.372-0.113,0.728-0.262,1.066-0.441l2.131,1.066l1.416-1.416L13.3,10.819 c0.178-0.337,0.328-0.694,0.441-1.066L16,9z M8,11c-1.656,0-3-1.344-3-3s1.344-3,3-3s3,1.344,3,3S9.656,11,8,11z" />
                </svg>
            </div>
            <div class="form-row-input">
                <div class="basic-multi-select default-multi-select">
                    <div class="multi-select-title">Параметры</div>
                    <div class="multi-select-row">
                        <label><input type="checkbox" id="ignore-existing" checked> Не парсить имеющиеся</label>
                    </div>
                    <div class="multi-select-row">
                        <label><input type="checkbox" id="show-player" checked> Показывать плеер</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-block">
            <div class="table-cell hidden" id="remove-all-block">
                <button class="basic-button default-button" onclick="RemoveAllAudios()">Удалить всё</button>
            </div>
            <div class="table-cell">
                <button class="basic-button default-button" id="parse-btn" onclick="ParseAudios()">Распарсить</button>
            </div>
        </div>

        <div class="error" id="error"></div>
    </div>

    <div class="content hidden" id="audios-block">
        <h2>Результат парсинга (<span id="current-count"></span> / <span id="total-count"></span>)</h2>
        <div id="audios"></div>
        <button class="basic-button default-button" id="save-btn" onclick="SaveAudios()">Сохранить</button>
        <div class="error" id="save-error"></div>
        <div class="success" id="save-info"></div>
    </div>

    <script src="/js/utils.js?v={{version}}"></script>
    <script src="/js/add-audios.js?v={{version}}"></script>
    {% include "footer.html" %}
</body>
</html>
