{% include "header.html" %}
<title>Управление аудиозаписями | music-quiz</title>
<link rel="stylesheet" type="text/css" href="/styles/search.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/player.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/audio.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/audios.css?v={{version}}">
</head>
<body>
    {% include "menu.html" %}
    <h1 class="top">Аудиозаписи</h1>

    <div class="form-row search-field">
        <div class="form-row-icon form-row-icon-interactive clear {% if not query %}clear-hide{% endif %}" id="clear-icon" onclick="ClearQuery()" title="Очистить">
            <svg class="form-svg-fill-icon" width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" />
            </svg>
        </div>

        <div class="form-row-input">
            <input type="text" class="basic-input default-input" id="query" placeholder="Введите запрос" value="{{query}}" oninput="QueryInput(event)" onkeydown="QueryKeyDown(event, SearchAudios)">
        </div>
        <div class="form-row-icon form-row-icon-interactive" onclick="SearchAudios()">
            <svg class="form-svg-stroke-icon" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 15L21 21M10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17Z" stroke-width="2" />
            </svg>
        </div>
    </div>

    <div class="search-params">
        <div class="table-block table-equal-block">
            <div class="table-cell">
                <div class="basic-multi-select default-multi-select search-row" id="years">
                    <div class="multi-select-title">Годы выхода</div>
                    <div class="table-block">
                        <div class="table-cell">
                            <input class="basic-input default-input number-input right" type="text" inputmode="numeric" min="0" id="years-start" value="{{search_start_year}}" oninput="ChangeYear('years-start')" onkeydown="QueryKeyDown(event, SearchAudios)">
                        </div>
                        <div class="table-cell table-cell-no-width">-</div>
                        <div class="table-cell">
                            <input class="basic-input default-input number-input left" type="text" inputmode="numeric" min="0" id="years-end" value="{{search_end_year}}" oninput="ChangeYear('years-end')" onkeydown="QueryKeyDown(event, SearchAudios)">
                        </div>
                    </div>
                </div>

                <div class="basic-multi-select default-multi-select">
                    <div class="multi-select-title">Текст песни</div>
                    <div class="multi-select-row">
                        <select class="basic-input default-input center" id="lyrics">
                            <option value="yes" {% if search_lyrics is true %}selected{% endif %}>есть</option>
                            <option value="no" {% if search_lyrics is false %}selected{% endif %}>нет</option>
                            <option value="unknown" {% if search_lyrics is none %}selected{% endif %}>не важно</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="table-cell">
                <div class="basic-multi-select default-multi-select" id="creation">
                    <div class="multi-select-title">Язык</div>
                    <div class="multi-select-row">
                        <label><input type="checkbox" id="creation-russian" {% if "russian" in search_creation %}checked{% endif %}> русский</label>
                    </div>
                    <div class="multi-select-row">
                        <label><input type="checkbox" id="creation-foreign" {% if "foreign" in search_creation %}checked{% endif %}> зарубежный</label>
                    </div>
                    <div class="multi-select-row">
                        <label><input type="checkbox" id="creation-no" {% if "no" in search_creation %}checked{% endif %}> не указан</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="error" id="error"></div>
    </div>

    <div class="info">
        Всего в базе {{total_audios}}{% if audios %}, {{query_audios}}{% endif %}
    </div>

    {% if query or search_start_year or search_end_year or search_creation or search_lyrics is not none %}
    {% if audios %}
    <div class="content">
        {% for audio in audios %}
        {% set artist = audio.artists|map(attribute="name")|join(", ") %}
        {% set year = " (" + audio.year|string + ")" if audio.year > 0 else "" %}
        {% set name = artist + " - " + audio.track + year %}
        <div class="form-row">
            <div class="table-block table-block-no-spacing">
                <div class="table-cell">
                    <div class="text">
                        <b>{% if user.role == "admin" %}<a href="/audios/{{audio.link}}">{{name}}</a>{% else %}{{name}}{% endif %}</b>:
                    </div>

                    {% if audio.creation %}
                    <div class="text"><b>Язык</b>:
                        {% for creation_type in audio.creation %}{% if loop.index > 1 %}, {% endif %}{{creation2rus[creation_type]}}{% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% if audio.lyrics %}
                <div class="table-cell table-cell-no-width">
                    <svg class="lyrics-icon" id="lyrics-icon-{{audio.link}}" width="24px" height="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" onclick="ToggleText('{{audio.link}}')">
                        <rect x="4" y="23" width="22" height="2"/>
                        <rect x="4" y="19" width="12" height="2"/>
                        <rect x="4" y="15" width="20" height="2"/>
                        <rect x="4" y="11" width="24" height="2"/>
                        <rect x="4" y="7" width="16" height="2"/>
                    </svg>
                </div>
                {% endif %}
            </div>

            <div class="table-block table-block-no-spacing" id="play-audio-{{audio.link}}">
                <div class="table-cell table-cell-no-width table-cell-middle center">
                    <div class="form-row-icon-interactive" onclick="PlayAudio('{{audio.link}}')">
                        <svg class="form-svg-fill-icon" width="20px" height="20px" viewBox="-0.3 -0.05 7.1 7.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                        </svg>
                    </div>
                </div>
                <div class="table-cell table-cell-middle">
                    <div id="player-{{audio.link}}">
                        <audio id="audio-{{audio.link}}" {% if audio.downloaded %}data-src="https://music.plush-anvil.ru/audios/{{audio.track_id}}_{{audio.album_id}}.mp3"{% endif %} data-link="{{audio.link}}" preload="metadata"></audio>
                        {% include "components/player.html" %}
                    </div>
                </div>
            </div>

            <div class="error" id="error-{{audio.link}}"></div>

            {% if audio.lyrics %}
            <div class="form-row audio-lyrics hidden" id="lyrics-{{audio.link}}">
                <div class="audio-text">
                    {% for line in audio.lyrics %}
                    <div class="audio-text-line" data-time="{{line.time}}" onclick="SeekPlayer('{{audio.link}}', {{line.time}})">{{line.text}}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text">К сожалению, по вашему запросу ничего не нашлось</div>
    {% endif %}
    {% endif %}

    <script src="/js/fetch.js?v={{version}}"></script>
    <script src="/js/utils.js?v={{version}}"></script>
    <script src="/js/search.js?v={{version}}"></script>
    <script src="/js/audio.js?v={{version}}"></script>
    <script src="/js/player.js?v={{version}}"></script>
    <script src="/js/lyrics.js?v={{version}}"></script>
    <script src="/js/audios.js?v={{version}}"></script>
    <script>
        let players = InitPlayers()
    </script>

    {% include "footer.html" %}
</body>
</html>
