.artist-question-icon {
    margin-left: 8px;
    fill: var(--placeholder-color);
}

.artist-question-icon:hover {
    fill: var(--text-color);
    cursor: pointer;
}

.artist-question-selected-icon {
    fill: var(--border-color) !important;
}