.artist-question-icon {
    margin-left: 8px;
    fill: var(--placeholder-color);
}

.artist-question-icon:hover {
    fill: var(--text-color);
    cursor: pointer;
}

.artist-question-selected-icon {
    fill: var(--border-color) !important;
}

.artist-cover {
    text-align: center;
    height: 200px;
}

.artist-cover img {
    border-radius: 100%;
    border: 2px solid #fff;
    max-width: 100%;
    max-height: 100%;
}