.content {
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.audio-form {
    padding: 5px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
}

.audio-from-minimized {
    height: 40px;
    overflow: hidden;
}

.audio-caption {
    font-size: 0.9em;
    padding: 5px 0;
    width: calc(100% - 20px);
}

.audio-close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.audio-close-icon:hover {
    cursor: pointer;
}

.player {
    border: none;
}

.audio-lyrics {
    max-height: 150px;
}

.lyrics-icon {
    fill: var(--placeholder-color);
}

.lyrics-icon:hover {
    fill: var(--text-color);
}

.lyrics-selected-icon {
    fill: var(--main-color) !important;
}

.icons-controls {
    width: 30px !important;
    text-align: right;
}

details button {
    margin-bottom: 10px;
}