.profile {
    display: table;
    width: 100%;
}

.profile-name {
    display: table-cell;
    font-family: Roboto;
    font-size: 1.5em;
    vertical-align: middle;
    color: var(--text-bg-color);
    padding: 0 10px;
}

.profile-image {
    display: table-cell;
    width: 60px;
}

.profile-image img {
    max-width: 100%;
    border-radius: 100%;
    border: 2px solid var(--border-color);
    object-fit: cover;
    aspect-ratio: 1/1;
}