.question {
    background: var(--content-background-color);
    border: 2px solid var(--content-border-color);
    color: var(--content-text-color);
    font-family: var(--content-font-family);
    border-radius: 15px;
    padding: 15px 10px;
}

.question-settings {
    margin-top: -8px;
}

.question-header {
    margin-bottom: 10px;
    font-size: 1em;
}

.question-text {
    margin-bottom: 10px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
}

.question-text-line:not(:last-child) {
    margin-bottom: 10px;
}

.question-answer {
    margin-top: 10px;
    font-family: Roboto;
}

.question .form-row:last-child {
    margin-bottom: 0;
}

.answer-buttons {
    margin-bottom: 10px;
}

.artists-covers {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    overflow-x: auto;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.artist-cover {
    min-width: 200px;
    text-align: center;
}

.artist-cover img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto 2px auto;
}