:root, :root[data-theme=light] {
    --main-color: #f7e06e;
    --background-color: var(--main-color);
    --border-color: #ffc107;
    --text-color: #111111;
    --text-bg-color: #111111;
    --error-color: #f44336;
    --success-color: #3ca640;

    --placeholder-color: #999999;

    /* input */
    --input-font-family: Roboto;
    --input-disabled-color: #d0d0d0;
    --input-text-color: var(--text-color);
    --input-border-color: var(--border-color);
    --input-focus-border-color: var(--main-color);

    /* textarea */
    --textarea-font-family: Roboto;
    --textarea-border-color: #aaaaaa;
    --textarea-text-color: var(--text-color);
    --textarea-hover-border-color: var(--main-color);

    /* button */
    --button-font-family: Roboto;

    --button-background-color: var(--main-color);
    --button-border-color: var(--main-color);
    --button-text-color: #695b17;

    --button-disabled-background-color: #d0d0d0;
    --button-disabled-border-color: #d0d0d0;
    --button-disabled-text-color: #888888;

    --button-hover-background-color: var(--main-color);
    --button-hover-border-color: var(--border-color);
    --button-hover-text-color: #695b17;

    --button-active-background-color: #f6db55;
    --button-active-border-color: #f6db55;
    --button-active-text-color: #110f04;

    /* switch button */
    --switch-button-font-family: Roboto;

    --switch-button-background-color: transparent;
    --switch-button-border-color: var(--border-color);
    --switch-button-text-color: #695b17;

    --switch-button-selected-background-color: var(--main-color);
    --switch-button-selected-border-color: var(--border-color);
    --switch-button-selected-text-color: #695b17;

    /* multi-select  */
    --multi-select-font-family: Roboto;
    --multi-select-border-color: #aaaaaa;
    --multi-select-text-color: var(--text-color);

    /* content  */
    --content-background-color: #f0f0f0;
    --content-border-color: var(--border-color);
    --content-text-color: #111111;
    --content-font-family: Roboto;

    /* form-row */
    --form-row-background-color: #ffffff;
    --form-row-icon-color: #ffc107;

    /* top icons */
    --top-icons-color: #2d3039;
    --top-icons-hover-color: #000000;

    /* menu */
    --menu-background-color: #ffffff;
    --menu-icon-color: #888888;
    --menu-icon-hover-color: var(--border-color);
    --menu-icon-active-color: #ffd500;

    /* details */
    --details-font-family: Roboto;
    --details-background-color: #ffffff;
    --details-text-color: var(--text-color);
    --details-hover-text-color: #626262;

    /* other */
    --hover-link-color: #626262;
}

:root[data-theme=dark] {
    --main-color: #f9dd4d;
    --background-color: #1e2027;
    --border-color: #e9d263;
    --text-color: #eeeeee;
    --text-bg-color: #eeeeee;
    --error-color: #f44336;
    --success-color: #36c93a;

    --placeholder-color: #999999;

    /* input */
    --input-font-family: Roboto;
    --input-disabled-color: #d0d0d0;
    --input-text-color: var(--text-color);
    --input-border-color: var(--border-color);
    --input-focus-border-color: var(--main-color);

    /* button */
    --button-font-family: Roboto;

    --button-background-color: var(--main-color);
    --button-border-color: var(--main-color);
    --button-text-color: #2d3039;

    --button-disabled-background-color: #d0d0d0;
    --button-disabled-border-color: #d0d0d0;
    --button-disabled-text-color: #888888;

    --button-hover-background-color: var(--main-color);
    --button-hover-border-color: var(--border-color);
    --button-hover-text-color: #3a3941;

    --button-active-background-color: var(--border-color);
    --button-active-border-color: var(--border-color);
    --button-active-text-color: #3a3941;

    /* switch button */
    --switch-button-font-family: Roboto;

    --switch-button-background-color: transparent;
    --switch-button-border-color: var(--border-color);
    --switch-button-text-color: var(--main-color);

    --switch-button-selected-background-color: var(--main-color);
    --switch-button-selected-border-color: var(--border-color);
    --switch-button-selected-text-color: #2d3039;

    /* content  */
    --content-background-color: #2d3039;
    --content-border-color: var(--border-color);
    --content-text-color: #eeeeee;
    --content-font-family: Roboto;

    /* form-row */
    --form-row-background-color: #3b3f4a;
    --form-row-icon-color: var(--main-color);

    /* top icons */
    --top-icons-color: #dfdfdf;
    --top-icons-hover-color: #ffffff;

    /* menu */
    --menu-background-color: #2d3039;
    --menu-icon-color: #818489;
    --menu-icon-hover-color: #caccce;
    --menu-icon-active-color: var(--main-color);

    /* details */
    --details-font-family: Roboto;
    --details-background-color: #3b3f4a;
    --details-text-color: var(--text-color);
    --details-hover-text-color: var(--main-color);

    /* other */
    --hover-link-color: var(--main-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #f9dd4d;
        --background-color: #1e2027;
        --border-color: #e9d263;
        --text-color: #eeeeee;
        --text-bg-color: #eeeeee;
        --error-color: #f44336;
        --success-color: #36c93a;

        --placeholder-color: #999999;

        /* input */
        --input-font-family: Roboto;
        --input-disabled-color: #d0d0d0;
        --input-text-color: var(--text-color);
        --input-border-color: var(--border-color);
        --input-focus-border-color: var(--main-color);

        /* button */
        --button-font-family: Roboto;

        --button-background-color: var(--main-color);
        --button-border-color: var(--main-color);
        --button-text-color: #2d3039;

        --button-disabled-background-color: #d0d0d0;
        --button-disabled-border-color: #d0d0d0;
        --button-disabled-text-color: #888888;

        --button-hover-background-color: var(--main-color);
        --button-hover-border-color: var(--border-color);
        --button-hover-text-color: #3a3941;

        --button-active-background-color: var(--border-color);
        --button-active-border-color: var(--border-color);
        --button-active-text-color: #3a3941;

        /* switch button */
        --switch-button-font-family: Roboto;

        --switch-button-background-color: transparent;
        --switch-button-border-color: var(--border-color);
        --switch-button-text-color: var(--main-color);

        --switch-button-selected-background-color: var(--main-color);
        --switch-button-selected-border-color: var(--border-color);
        --switch-button-selected-text-color: #2d3039;

        /* content  */
        --content-background-color: #2d3039;
        --content-border-color: var(--border-color);
        --content-text-color: #eeeeee;
        --content-font-family: Roboto;

        /* form-row */
        --form-row-background-color: #3b3f4a;
        --form-row-icon-color: var(--main-color);

        /* top icons */
        --top-icons-color: #dfdfdf;
        --top-icons-hover-color: #ffffff;

        /* menu */
        --menu-background-color: #2d3039;
        --menu-icon-color: #818489;
        --menu-icon-hover-color: #caccce;
        --menu-icon-active-color: var(--main-color);

        /* details */
        --details-font-family: Roboto;
        --details-background-color: #3b3f4a;
        --details-text-color: var(--text-color);
        --details-hover-text-color: var(--main-color)

        /* other */
        --hover-link-color: var(--main-color);
    }
}

@font-face {
  font-family: PTSerif;
  src: url("/fonts/PTSerif-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf");
}

body {
    background: var(--background-color);
    max-width: 500px;
    margin: 0 auto 55px auto;
    padding: 10px 10px 0 10px;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.content {
    background: var(--content-background-color);
    border: 2px solid var(--content-border-color);
    color: var(--content-text-color);
    font-family: var(--content-font-family);
}

.form-row {
    background: var(--form-row-background-color);
    padding: 10px;
    border-radius: 10px;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.form-row-icon {
    display: table-cell;
    width: 32px;
    vertical-align: middle;
}

.form-row-top-icon {
    vertical-align: top !important;
}

.form-row-icon-interactive {
    text-align: right;
    width: 25px;
}

.form-row-icon-interactive:hover {
    cursor: pointer;
}

.form-row-input {
    display: table-cell;
    vertical-align: middle;
}

.form-svg-fill-icon {
    fill: var(--form-row-icon-color);
}

.form-svg-stroke-icon {
    stroke: var(--form-row-icon-color);
}

.error-icon .form-svg-fill-icon {
    fill: var(--error-color);
}

.error-icon .form-svg-stroke-icon {
    stroke: var(--error-color);
}

.error:not(:empty) {
    margin-top: 10px;
    text-align: center;
    color: var(--error-color);
    font-family: Roboto;
}

.success:not(:empty) {
    margin-top: 10px;
    text-align: center;
    color: var(--success-color);
    font-family: Roboto;
}

.status:before {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    content: "";
    margin-right: 5px;
}

.success-status:before {
    background: var(--success-color);
}

.table-block {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
    padding: 0 2px;
}

.table-cell:first-child {
    padding-left: 0
}

.table-cell:last-child {
    padding-right: 0
}

.text {
    font-size: 1em;
    font-family: Roboto;
    margin-bottom: 10px;
    color: var(--text-color);
}

.text:last-child {
    margin-bottom: 0;
}

.text a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--text-color)
}

.text a:hover {
    color: var(--hover-link-color);
    border-bottom-style: solid;
    border-bottom-color: var(--hover-link-color);
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    color: var(--text-bg-color);
    font-family: PTSerif;
}

h1.top {
    margin-top: 25px;
}

summary {
    border-radius: 10px;
    background: var(--details-background-color);
    padding: 10px;
    user-select: none;
    font-family: var(--details-font-family);
    font-size: 1em;
    color: var(--details-text-color);
}

summary:hover {
    cursor: pointer;
    color: var(--details-hover-text-color);
}

details[open] summary {
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

@media (max-width: 767px) {
    body {
        max-width: 100%;
        padding: 10px 5px 0 5px;
    }
}
