<script>
    function Logout() {
        localStorage.removeItem("quiz_token")
        document.cookie = "quiz_token=; Max-Age=-99999999;"
        location.href="/logout"
    }

    function UpdateCookieToken() {
        let token = localStorage.getItem("quiz_token")
        if (token !== null)
            document.cookie = `quiz_token=${token}`
    }

    UpdateCookieToken()
    window.addEventListener("beforeunload", UpdateCookieToken)
    window.addEventListener("unload", UpdateCookieToken)
</script>