<!DOCTYPE html>
<html {% if user %}data-theme="{{user.settings.theme}}"{% endif %}>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="theme-color" content="{% if user and user.settings.theme == 'dark' %}#825ce0{% else %}#825ce0{% endif %}">

<link rel="stylesheet" type="text/css" href="/styles/styles.css?v=4">
<link rel="stylesheet" type="text/css" href="/styles/inputs.css">
<link rel="stylesheet" type="text/css" href="/styles/menu.css?v=4">
