<!DOCTYPE html>
<html {% if user %}data-theme="{{user.settings.theme}}"{% endif %}>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="theme-color" content="{% if user and user.settings.theme == 'dark' %}#1e2027{% else %}#f7e06e{% endif %}">

<link rel="stylesheet" type="text/css" href="/styles/styles.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/inputs.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/menu.css?v={{version}}">
