{% include "header.html" %}
<title>Главная | music-quiz</title>
<link rel="stylesheet" type="text/css" href="/styles/index.css?v={{version}}">
</head>
<body>
    {% if user %}
    {% include "menu.html" %}

    <div class="profile">
        <div class="profile-name">
            {{user.fullname}}<br>
        </div>
        <div class="profile-image">
            <a href="/profile"><img src="{{user.image_src}}" alt="Аватар пользователя {{user.username}}"></a>
        </div>
    </div>

    {% if usernames %}
    <div class="leaderboard">
        <h3>Таблица лидеров</h3>

        <div class="pedestal">
            {% for username in [usernames[1], usernames[0], usernames[2]] %}
            <div class="place">
                {% if username %}
                <div class="place-user-profile">
                    <img src="{{statistics[username].image}}" alt="Аватарка пользователя {{username}}">
                </div>
                <div class="place-user-name">{{username}}</div>
                <div class="place-user-score">
                    {{statistics[username].questions.percent}}%<br>

                    {% if statistics[username].show_questions_count %}
                    {{statistics[username].questions.total}} {{statistics[username].questions_form}}
                    <br>
                    <span class="correct">{{statistics[username].questions.correct}}</span> / <span class="incorrect">{{statistics[username].questions.incorrect}}</span>
                    {% endif %}
                </div>
                {% endif %}
                <div class="tribune-top tribune-top-{{loop.index}}"></div>
                <div class="tribune tribune-{{loop.index}}">{{ {1: 2, 2: 1, 3: 3}[loop.index]}}</div>
            </div>
            {% endfor %}
        </div>

        <div class="statistics">
            {% for username in usernames[3:] %}
            <div class="user-statistics">
                <div class="user-position">
                    <span class="position">{{loop.index + 3}}</span>
                </div>

                <div class="user-profile">
                    <img src="{{statistics[username]['image']}}" alt="Аватарка пользователя {{username}}">
                </div>
                <div class="user-info">
                    <div class="user-name">{{username}}</div>
                    <div class="user-score">
                        {{statistics[username].questions.percent}}%
                        {% if statistics[username].show_questions_count %}
                        (<span class="correct">{{statistics[username].questions.correct}}</span> / <span class="incorrect">{{statistics[username].questions.incorrect}}</span>)
                        {% endif %}
                    </div>
                    {% if statistics[username].show_questions_count %}
                    <div class="user-score">{{statistics[username].questions.total}} {{statistics[username].questions_form}}</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% else %}
    <div class="text">Пока что можно только <a href="/login">войти</a>. Потом тут будет что-то красивое (надеюсь)</div>
    {% endif %}

    {% include "footer.html" %}
</body>
</html>
