{% include "header.html" %}
<title>Главная | music-quiz</title>
<link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
    {% if user %}
    {% include "menu.html" %}

    <div class="profile">
        <div class="profile-name">
            {{user.fullname}}<br>
        </div>
        <div class="profile-image">
            <a href="/profile"><img src="{{user.image_src}}" alt="Аватар пользователя {{user.username}}"></a>
        </div>
    </div>
    {%endif%}

    {% include "footer.html" %}
</body>
</html>
