{% include "header.html" %}
<title>{{user.username}} | music-quiz</title>
<link rel="stylesheet" type="text/css" href="/styles/player.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/audio.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/profile.css?v={{version}}">
</head>
<body>
    {% include "menu.html" %}

    <div class="profile-image">
        <img src="{{user.image_src}}" alt="Аватар пользователя {{user.username}}">
    </div>

    <div class="profile">
        <div class="profile-name">
            {{user.fullname}}<br>
        </div>

        <div class="statistic">
            <div class="statistic-cell">
                <div class="statistic-icon">
                    <svg class="statistic-fill-icon" width="20px" height="20px" viewBox="-3 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m18.07.169c-.148-.106-.333-.169-.532-.169-.111 0-.217.02-.316.055l.006-.002-11.077 3.938c-.361.131-.613.471-.613.869v.001 2.193.042 10.604c-.534-.295-1.169
                        -.469-1.846-.471h-.001c-.043-.002-.093-.003-.143-.003-1.904 0-3.458 1.497-3.549 3.379v.008c.091 1.89 1.645 3.388 3.549 3.388.05 0 .1-.001.15-.003h-.007c.043.002.093
                        .003.143.003 1.904 0 3.458-1.497 3.549-3.379v-.008-12.883l9.23-3.223v8.973c-.534-.294-1.17-.468-1.846-.47h-.001c-.043-.002-.094-.003-.144-.003-1.904 0-3.457 1.498-3.547
                        3.379v.008c.09 1.89 1.644 3.388 3.548 3.388.051 0 .101-.001.151-.003h-.007c.031.001.068.002.105.002 1.696 0 3.12-1.166 3.513-2.74l.005-.025c.042-.101.068-.217.069-.34v
                        -15.754c0-.31-.153-.585-.388-.752l-.003-.002z"/>
                    </svg>
                </div>
                <div class="statistic-name">АУДИОЗАПИСИ</div>
                <div class="statistic-value">
                    <span class="correct" title="Известные">{{statistic.questions.correct}}</span>
                    <span class="no-bold"> / </span>
                    <span class="incorrect" title="Неизвестные">{{statistic.questions.incorrect}}</span>
                </div>
            </div>

            <div class="statistic-cell">
                <div class="statistic-icon">
                    <svg class="statistic-fill-icon" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="11 11 108 108">
                        <ellipse transform="matrix(0.1607 -0.987 0.987 0.1607 -3.8377 74.789)" cx="42.1" cy="39.7" rx="17.3" ry="17.3"/>
                        <path d="M84.7,40.1c-0.6-1.6-1.6-3-3-4.1c-3.9-2.8-9.3-2-12.1,1.9c-2.8,3.9-2,9.3,1.9,12.1c3.9,2.8,9.3,2,12.1-1.9
                            c0.1-0.2,0.2-0.3,0.3-0.5l5.9,0.6L66.3,65.2l-32.2-5.4c-5.4-0.9-10.4,2.7-11.2,8.1l-7.3,45.1h35.8c1.6-5.6,2.8-11.4,3.8-17.3
                            c0.1-0.9,0.5-3,0.5-3.3c0.8-4.8,0.4-9.9-1.2-14.3l12.7,2.1c1.8,0.3,3.9-0.1,5.7-1.4l28.1-20.2c2.7-2,3.7-5.6,2.7-8.6l10.9,1.2
                            l0.8-7.5L84.7,40.1z"/>
                    </svg>
                </div>
                <div class="statistic-name">ИСПОЛНИТЕЛИ</div>
                <div class="statistic-value">
                    <span class="correct" title="Известные">{{statistic.artists.correct}}</span>
                    <span class="no-bold"> / </span>
                    <span class="incorrect" title="Неизвестные">{{statistic.artists.incorrect}}</span>
                </div>
            </div>

            <div class="statistic-cell">
                <div class="statistic-icon">
                    <svg class="statistic-fill-icon" width="24px" height="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <rect x="4" y="23" width="22" height="2"/>
                        <rect x="4" y="19" width="12" height="2"/>
                        <rect x="4" y="15" width="20" height="2"/>
                        <rect x="4" y="11" width="24" height="2"/>
                        <rect x="4" y="7" width="16" height="2"/>
                    </svg>
                </div>
                <div class="statistic-name">ТЕКСТЫ</div>
                <div class="statistic-value">
                    <span class="correct" title="Известные">{{statistic.texts.correct}}</span>
                    <span class="no-bold"> / </span>
                    <span class="incorrect" title="Неизвестные">{{statistic.texts.incorrect}}</span>
                </div>
            </div>
        </div>

        <div class="form-row radio">
            <div class="radio-header">Бесконечное радио</div>
            <div class="text" id="caption"></div>

            <div class="table-block table-block-no-spacing" id="play-audio">
                <div class="table-cell table-cell-no-width table-cell-middle center">
                    <div class="form-row-icon-interactive" onclick="PlayNext()">
                        <svg class="form-svg-fill-icon" width="20px" height="20px" viewBox="-0.3 -0.05 7.1 7.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                        </svg>
                    </div>
                </div>
                <div class="table-cell table-cell-middle">
                    <audio id="audio" preload="metadata"></audio>
                    <audio id="audio-artist" autoplay></audio>
                    <div id="player">
                        {% include "components/player.html" %}
                        <div class="error" id="error"></div>
                    </div>
                </div>
            </div>

            <div class="audio-lyrics hidden" id="lyrics">
                <div class="text audio-text"></div>
            </div>
        </div>

        <div class="scrollable">
            <div class="form-row">
                <div class="form-row-input">
                    <div class="text">Распределение по вопросам:</div>
                    <ul class="info">
                    {% for question_type in questions %}
                    {% if statistic.correct2count[question_type] + statistic.incorrect2count[question_type] > 0 %}
                    <li class="left">
                        {{question2rus[question_type]}} ({{(statistic.percents[question_type] * 100)|round(1)}}%):
                        <span class="correct" title="Известные">{{statistic.correct2count[question_type]}}</span>
                        <span class="no-bold"> / </span>
                        <span class="incorrect" title="Неизвестные">{{statistic.incorrect2count[question_type]}}</span>
                    </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <h2>Подробная статистика</h2>
        <details open>
            <summary>Распределение по годам</summary>
            <div class="text"><b>Корректно</b>:</div>
            <div class="scrollable">
                <svg class="chart" id="years-correct-chart"></svg>
            </div>

            <div class="text"><b>Некорректно</b>:</div>
            <div class="scrollable">
                <svg class="chart" id="years-incorrect-chart"></svg>
            </div>
        </details>

        <details open>
            <summary>Исполнители (ТОП-20)</summary>
            <div class="text"><b>Корректно</b>:</div>
            <div class="scrollable">
                <table>
                    <tr><th>№</th><th>Исполнитель</th><th>Кол-во</th></tr>
                    {% for count, (artist_id, artist_name) in content_statistic.artists.correct[:20] %}
                    <tr><td class="zero-width">{{loop.index}}</td><td class="text"><a href="/artists/{{artist_id}}">{{artist_name}}</a></td><td class="zero-width">{{count}}</td></tr>
                    {% endfor %}
                </table>
            </div>
            <br>

            <div class="text"><b>Некорректно</b>:</div>
            <div class="scrollable">
                <table>
                    <tr><th>№</th><th>Исполнитель</th><th>Кол-во</th></tr>
                    {% for count, (artist_id, artist_name) in content_statistic.artists.incorrect[:20] %}
                    <tr><td class="zero-width">{{loop.index}}</td><td class="text"><a href="/artists/{{artist_id}}">{{artist_name}}</a></td><td class="zero-width">{{count}}</td></tr>
                    {% endfor %}
                </table>
            </div>

        </details>
    </div>

    <script src="/js/fetch.js?v={{version}}"></script>
    <script src="/js/utils.js?v={{version}}"></script>
    <script src="/js/bar_chart.js?v={{version}}"></script>
    <script src="/js/audio.js?v={{version}}"></script>
    <script src="/js/player.js?v={{version}}"></script>
    <script src="/js/profile.js?v={{version}}"></script>
    <script src="/js/lyrics.js?v={{version}}"></script>
    <script>
        let audio = document.getElementById("audio")
        let audioArtist = document.getElementById("audio-artist")
        let player = null
        let updater = null

        audio.addEventListener("loadedmetadata", () => {
            if (updater === null)
                updater = new LyricsUpdater("lyrics")

            if (player === null)
                player = new Player("player", audio, (currentTime) => updater.Update(currentTime), () => PlayNext())

            player.ResetTimecode()
            player.Init()
            player.Play()
        })

        audio.addEventListener("ended", () => PlayNext())
        audioArtist.addEventListener("ended", () => audio.volume = 1.0)
        audioArtist.addEventListener("error", () => audio.volume = 1.0)

        if ('mediaSession' in navigator) {
            navigator.mediaSession.setActionHandler('nexttrack', PlayNext)
        }
    </script>

    <script>
        const YEARS_STATISTICS = [
            {% for year in content_statistic.target_years[:-1] %}
            {
                label: {% if loop.index == 1 %}"< {{content_statistic.target_years[loop.index] - 1}}"{% else %}"{{year}}-{{content_statistic.target_years[loop.index] - 1}}"{% endif %},
                correct: {{content_statistic.years[loop.index0].correct}},
                incorrect: {{content_statistic.years[loop.index0].incorrect}}
            },
            {% endfor %}
        ]

        new BarChart({barColor: "#57c75a", maxRectWidth: 100}).Plot("years-correct-chart", YEARS_STATISTICS, "label", "correct")
        new BarChart({barColor: "#f65c51", maxRectWidth: 100}).Plot("years-incorrect-chart", YEARS_STATISTICS, "label", "incorrect")
    </script>
    {% include "footer.html" %}
</body>
</html>
