<div class="player">
    <div class="player-controls player-hidden" id="player-controls">
        <svg class="player-controls-icon player-hidden player-play-icon" width="20px" height="20px" viewBox="-0.3 -0.05 7.1 7.1" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
        </svg>

        <svg class="player-controls-icon player-hidden player-pause-icon" width="20px" height="20px" viewBox="-0.7 -0.05 8.1 8.1" xmlns="http://www.w3.org/2000/svg">
            <path d="M1,0 C0.448,0 0,0.448 0,1 L0,7 C0,7.552 0.448,8 1,8 C1.552,8 2,7.552 2,7 L2,1 C2,0.448 1.552,0 1,0 M6,1 L6,7 C6,7.552 5.552,8 5,8 C4.448,8 4,7.552 4,7 L4,1 C4,0.448 4.448,0 5,0 C5.552,0 6,0.448 6,1" />
        </svg>
    </div>

    <div class="player-progress">
        <div class="player-progress-bar">
            <div class="player-current-progress"></div>
        </div>
    </div>

    <div class="player-time player-hidden"></div>
</div>
